<!--home.html-->

<div class="row">
    <div class="jumbotron">
        <h1>Community Care Assistant</h1>
        <p style="color:maroon">Helping the community one text at a time.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-5">
        <h3>Why should you care:</h3>
        <p>Triggered by the COVID crisis, we discover that it is ever more important to make help in the community as accessible as possible to those who need it. The Community Care Assistant does it with <b>one phone number</b>: 408-521-1618. One can just text "I need ..." to find the nearby helps, including <b>COVID testing centers</b>.</p>
        <p>Community-care leaders such as state/local agencies and healthcare organizations may get concise insights into who need what, in which communities. Immediate actions from a care provider or social worker can be to include the Social Determinants of Health (e.g. needs for food, shelter, or counseling) into the person's care plan, followed by an outreach.</p>
        <p>The requests for certain helps over time also serve as additional evidence to fortify the services behind that help, or to assist investigations into the root cause, e.g. with the rich conversations from the help requests.</p> 
    </div>
    <div class="col-md-5">
        <h3>Community Care Assistent comprises:</h3>
        <ul>
            <li>SMS conversational interface - for general public or caregivers to text to 408-521-1618 for nearby helps</li>
            <li>Chatbot - the same conversational interface can be embedded into your website, Slack, Facebook Messenger, and WhatsApp</li>
            <li>Insights Dashboard - this application</li>
        </ul>
        <div style="padding:40px 30px">
            <h4>Please contact <a src="mailto:cheong@ibm.com">cheong@ibm.com</a> to learn more, or to get Community Care Assistant work for your community!</h4>
        </div>
    </div>
    <div class="col-md-1"> </div>
</div>

<!--/home.html-->
