<!--protected.html-->

<div class="row">
    <div class="col-md-12">
        <p>{{message}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <highchart id="chart1" config="chartConfig1"></highchart>
    </div>
    <div class="col-md-4">
        <highchart id="chart2" config="chartConfig2"></highchart>
    </div>
    <div class="col-md-4">
        <highchart id="chart3" config="chartConfig3"></highchart>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br><br>
        <div id="myGrid" ag-grid="gridOptions" style="margin: 0 auto;height: 600px;width:1000px;" class="ag-theme-balham"></div>
    </div>
</div>

<!--/protected.html-->
